.home {
    margin-top: toRem(106);

    &--one {
        h2 {
            margin-top: toRem(54);

        }

        p {
            margin-bottom: toRem(71);
        }

        .img {
           margin: 0 auto toRem(56) auto; 
           width: toRem(312);
           height: toRem(238);
           background-image: url('../images/image-computer.png');
           background-size: cover;
           background-repeat: no-repeat;

           @include media-lg {
               margin: 0;
               width: toRem(752);
               height: toRem(572);
               background-position: toRem(-100);
           }

           @include media-xl {
               background-position: center;
           }
        }
    }

    &--two {
        margin-top: toRem(192);

        @include media-lg {
            margin-top: toRem(150);
        }

        .img {
            margin: toRem(70.72) auto toRem(130.72) auto;
            width: toRem(310.83);
            height: toRem(182);
            background-image: url('../images/image-devices.png');
            background-size: cover;
            background-repeat: no-repeat;

            @include media-md {
                width: toRem(525);
                height: toRem(292.65);
            }

            @include media-lg {
                width: toRem(811.56);
                height: toRem(475);
            }
        }

        
    }

    &--three {
        .cards {
            margin-top: toRem(108.86);
            

            @include media-lg {
                display: flex;
                justify-content: space-evenly;
            }

            .card {
                margin-top: toRem(62);

                @include media-lg {
                    margin: 0;
                }
            }
        }
    }

    &--four {
        margin-top: toRem(76);
        

        img {
            margin:0 auto toRem(56) auto;
        }
    }

    &--five {
        margin-top: toRem(114);
        
        p {
           margin-bottom: toRem(52); 
        }
    }
}