footer {
    background-color: hsla(201, 11%, 66%, 0.1);
    margin-top: toRem(170);
    padding-bottom: toRem(53.25);

    .logo {
        margin-top: toRem(52);
        width: toRem(55);

        @include media-md{
            margin: 0;
        }
    }

    ul {
        margin-top: toRem(40);

        @include media-md {
            margin: 0;
        }

        li {
            margin-bottom: toRem(27);
            
            @include media-md {
                margin: 0;
            }

            a {
                @include text-format(18, 30, 400);
                @include transition-ease;
                color: $heading-text-color;

                &:hover {
                    color: $green-blue;
                }
            }
        }
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: toRem(160);
        margin: toRem(57.25) auto 0 auto;

        .icon {
            @include transition-ease;
            fill: $dk-grey-blue;

            &:hover {
                fill: $green-blue;
            }
        }
    }

}