.grid {
    &--2 {

        @include media-md {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: 'A B' 'C D';
            align-items: center;
        }

        @include media-lg {
            grid-template-areas: 'A .' 'A B' 'A C' 'A D' 'A .';
            column-gap: toRem(110);

            h3 {
                margin: 0;
                max-width: toRem(350);
                text-align: left;
            }

            p {
                margin: toRem(16) 0;
                text-align: left;
                max-width: toRem(350);
            }

            }

        @include media-xl {
            &--2 {
                max-width: 1600px;
                margin: 0 auto;
            }
        }
        

        &--a {
           grid-area: A; 
        }

        &--b {
            grid-area: B;
        }

        &--c {
            grid-area: C;
        }

        &--d {
            grid-area: D;
        }
    }
   
}