.grid {

    @include media-md {

        &--2 {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: 'A B' 'C D';
            align-items: center;
    
            &--a {
               grid-area: A; 
            }
    
            &--b {
                grid-area: B;
            }
    
            &--c {
                grid-area: C;
            }
    
            &--d {
                grid-area: D;
            }
        }

    }

    @include media-lg {

        position: relative;

        &--2 {
            grid-template-areas: 'A .' 'A B' 'A C' 'A D' 'A .';
            column-gap: toRem(110);

            @include media-lg {
                
            }

            h3 {
                margin: 0;
                max-width: toRem(350);
                text-align: left;
            }

            p {
                margin: toRem(16) 0;
                text-align: left;
                max-width: toRem(350);
            }
    
            &--a {
               grid-area: A; 
            }
    
            &--b {
                grid-area: B;
            }
    
            &--c {
                grid-area: C;
            }
    
            &--d {
                grid-area: D;
            }
        }

    }

    @include media-xl {
        &--2 {
            max-width: 1600px;
            margin: 0 auto;
        }
    }
    
}